$primary: #900;
$card-cap-bg: #900;
$card-cap-color: #ffffffe5;
$card-cap-footer-bg: rgba(#000, .03);

@import 'node_modules/bootstrap/scss/bootstrap';


.card-footer {
  background-color: $card-cap-footer-bg;
}