$primary: #007899;
$card-cap-bg: #007899;
$card-cap-color: rgba(#fff, 0.95);
$card-cap-footer-bg: rgba(#000, .03);

@import 'node_modules/bootstrap/scss/bootstrap';


.card-footer {
  background-color: $card-cap-footer-bg;
}