<div> 
    <h1 class="text-center">Fake or Real?</h1>

    <p class="lead bg-success shadow border p-3 text-white">
    Social media is a great way to read news and stay informed. But it can also be a great way to spread fake news.
    Don't trust everything you read on social media. Always check the source of the news and make sure it's a reliable source.
    </p>
    <br>
    <h3 class="text-center">Keep following rules in mind and you should be safe!</h3>
    <ul class="list-group">
        <li class="list-group-item">Check the source of the article.</li>
        <li class="list-group-item">Look for strange web adress or site names. (The often sound real but include small typos or have different top level domain)</li>
        <li class="list-group-item">Check for bad grammar or typos.</li>
        <li class="list-group-item">Fake News often use shocking headlines.</li>
        <li class="list-group-item">Fake News often use sensational flashy images.</li>
        <li class="list-group-item">Headlines with lots of punctuation and ALL CAPS are an indicator for fake news.</li>
    </ul>
</div>