<div>
    <h1>Friend Requests</h1>
    <p class="lead">
      Today more and more people use the internet. Not all of themn really
      want to be your friend. Some of them are just trying to get your
      personal information. Keep in mind, that every new "friend" you accept
      on the internet is a new person that can see your personal information
      that you share. For example they can see all your photos that you have
      posted!
    </p>

    <br />
    <p class="lead">
      Keep the following rules in mind, and you should be safe.
    </p>

    <ul class="list-group">
      <li class="list-group-item">
        Don't Accept Friend Requests From People You Don't Know
      </li>
      <li class="list-group-item">
        Only Send Friend Requests to People You Know
      </li>
      <li class="list-group-item">
        If you are not sure, check the profile of the person (pictures, info, mutal friends)
      </li>
      <li class="list-group-item">Report Spammy Friend Requests</li>
    </ul>
  </div>